<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-neweat="{{eat}}">
		{{#if eat}}YUM, eat this now!{{else}}Order me another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">I do not want this!</button>
</li>